/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.custom-line {
    margin-top: -17px;
}

#logo-section {
    padding: 0 15px;
}

.home-headline {
    font-size: 24px;
    color: #ffffff;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
}

.home-headline span {
    background-color: #231F20;
    padding: 5px 20px;
    border-radius: 10px;

}