<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<nav th:replace="common/header :: navbar" />

<main role="main" class="container"> <!--Main Container Start-->
    <div class="row">
        <div class="col-8">
            <h2>User Account</h2>
        </div>
        <div class="col-4">
            <img id="profile" src="/images/profile.png" height="100px" />
        </div>
        <div class="wood-divider">
            <img class="img-fluid" src="/images/wood.png" />
        </div>
    </div>

</main><!--Main Container End-->

<div th:replace="common/header :: footer-scripts" />
</body>
</html>
