<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<nav th:replace="common/header :: navbar" />

<main role="main" class="container"> <!--Main Container Start-->
    <div class="row">
        <div class="col-8">
            <h2>User Account</h2>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="/images/logo_image.png" height="auto" />
        </div>
        <div class="wood-divider">
            <img class="img-fluid" src="/images/wood.png" />
        </div>
        <div id="account-tabs" class="col-9 offset-3">
            <!--NAV TABS-->
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="#tab-1" data-toggle="tab">Create new account</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab-2" data-toggle="tab">Log In</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab-3" data-toggle="tab">Forgot Password</a></li>
            </ul>
        </div>
    </div>

</main><!--Main Container End-->

<div th:replace="common/header :: footer-scripts" />
</body>
</html>
