<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<nav th:replace="common/header :: navbar" />

<main role="main" class="container"> <!--Main Container Start-->
    <div class="row">
        <div class="col-8">
            <h2>User Account</h2>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="/images/logo_image.png" height="auto" />
        </div>
        <div class="wood-divider">
            <img class="img-fluid" src="/images/wood.png" />
        </div>
        <!--NAV PANELS-->
        <nav id="account-tabs" class="col-9 offset-3">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Create new account</a>
                <a th:classappend="${classActiveLogin}? 'active'" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Log In</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Forgot Password</a>
            </div>
        </nav>
        <!--Create New User-->
        <div class="tab-content col-9 offset-3" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <form>
                    <div class="form-group">
                        <input required="required" type="text" class="form-control" id="newUsername" name="username" placeholder="Username" />
                        <input required="required" type="email" class="form-control" id="email" name="email" placeholder="Email" />
                    </div>
                    <button type="submit" class="btn btn-primary">Create new account</button>
                </form>
            </div>
            <!--USER LOGIN-->
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" th:classappend="${classActiveLogin}? 'in active'">
                <form>
                    <div class="form-group">
                        <input required="required" type="text" class="form-control" id="username" name="username" placeholder="Username" />
                        <input required="required" type="password" class="form-control" id="password" name="password" placeholder="Password" />
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <form>
                    <div class="form-group">
                        <input required="required" type="email" class="form-control" id="recoveryEmail" name="recoveryEmail" placeholder="Email" />
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>

</main><!--Main Container End-->

<div th:replace="common/header :: footer-scripts" />
</body>
</html>
